
.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.homeSecondContainer{
    /* display: flex; */
    background-color: #dee2e6b5;
    border-radius: 15px;
    height: fit-content;
    width: 489px;

}

.welcomeTitle {
    margin-bottom: 1.5rem; 
}

.welcomeTitle .bienvenido{
    color: rgb(18, 41, 146);
    font-family:'Bauhaus93';
    font-size: 90px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    /* margin-left: -340px; */

    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: rgba(112, 112, 112, 0.582);
    --stroke-color: rgba(30, 131, 165, 0.548);

    text-shadow: 
      
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);

    
}
.welcomeTitle .sloganPhrase{
    color: rgb(241, 10, 10); 
    font-family: 'Open Sans', sans-serif; 
    text-align: center; 
    font-weight: bold!important;
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 50px; 
    /* margin-left: -255px; */
}

.homeTitle{
    
    margin-top: 1rem;
    padding: 0.8rem;
}


.carouselAndSearch{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.carouselContainer{
    width: 55%;
}





@media screen and (max-width: 1200px) {
    
    .welcomeTitle .bienvenido{
        font-size: 100px; 
    }
    .welcomeTitle .sloganPhrase{
        font-size: 20px;
    }
    .carouselAndSearch{
        flex-direction: column;
    }
    .carouselContainer {
        width: 80%;
        
    }
    .carouselTitleCompanies{
        width:50%;
    }

}




@media screen and (max-width: 620px) {
    .welcomeTitle .bienvenido{
        font-size: 70px; 
    }
   .carouselTitleCompanies{
    width: 100%;
   }
   .homeSecondContainer{
    width: 80%;
   }

}




@media screen and (max-width: 320px) {
    .welcomeTitle .bienvenido{
        font-size: 40px; 
    }
    .homeSecondContainer {
        width: 100%;
    }
}


