
.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.homeSecondContainer{
    background-color: #dee2e6b5;
    border-radius: 15px;
    margin-bottom: 60px;
}

.welcomeTitle{
    /* border: 1px solid rgb(0, 0, 0); */
    /* border-radius: 10px; */
    /* background-image:url('../../assets/perito.jpeg'); */
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: right; */
    /* background-color: rgba(255, 255, 255, 0.596); */
    width:70%;
    margin-bottom: 1.5rem;
}

.welcomeTitle .bienvenido{
    color: rgb(18, 41, 146);
    font-family:'Bauhaus93';
    font-size: 90px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    /* margin-left: -340px; */

    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: rgba(112, 112, 112, 0.582);
    --stroke-color: rgba(30, 131, 165, 0.548);

    text-shadow: 
      
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);

    
}
.welcomeTitle .sloganPhrase{
    color: rgb(221, 19, 19); 
    font-family: 'Open Sans', sans-serif; 
    text-align: center; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    /* margin-left: -255px; */
}

.homeTitle{
    
    margin-top: 1rem;
    padding: 0.8rem;
}



@media screen and (max-width: 1200px) {
    
    .welcomeTitle .bienvenido{
        font-size: 100px; 
    }
    .welcomeTitle .sloganPhrase{
        font-size: 20px;
    }
}
@media screen and (max-width: 620px) {
    .welcomeTitle .bienvenido{
        font-size: 70px; 
    }
}
@media screen and (max-width: 320px) {
    .welcomeTitle .bienvenido{
        font-size: 40px; 
    }
}


